# SynBioPython lab automation module

This notebook demonstrates the functionalities of the lab automation module of [SynBioPython](https://github.com/Global-Biofoundries-Alliance/SynBioPython).

In [1]:
import synbiopython.lab_automation as lab

## Plates

The module contains classes for several plate formats (96-well, 384-well etc):

In [2]:
source = lab.Plate96(name="96-well plate")

Contents of a plate can be retrieved or manipulated:

In [3]:
source.wells["A1"].add_content({"Compound_1": 1}, volume=5 * 10 ** (-6))
source.wells["C2"].add_content({"Compound_X": 1}, volume=15 * 10 ** (-6))

In [4]:
print("The volume of well A1 is:", source.wells["A1"].volume, "L")

The volume of well A1 is: 4.9999999999999996e-06 L

In [5]:
source.list_wells_in_row(1)

[(96-well plate-A1),
 (96-well plate-A2),
 (96-well plate-A3),
 (96-well plate-A4),
 (96-well plate-A5),
 (96-well plate-A6),
 (96-well plate-A7),
 (96-well plate-A8),
 (96-well plate-A9),
 (96-well plate-A10),
 (96-well plate-A11),
 (96-well plate-A12)]

We can export our plates, for example:

In [6]:
source.to_pandas_dataframe()

    name                                            content row column
A1    A1  {'volume': 4.9999999999999996e-06, 'quantities...   1      1
A2    A2                    {'volume': 0, 'quantities': {}}   1      2
A3    A3                    {'volume': 0, 'quantities': {}}   1      3
A4    A4                    {'volume': 0, 'quantities': {}}   1      4
A5    A5                    {'volume': 0, 'quantities': {}}   1      5
..   ...                                                ...  ..    ...
H8    H8                    {'volume': 0, 'quantities': {}}   8      8
H9    H9                    {'volume': 0, 'quantities': {}}   8      9
H10  H10                    {'volume': 0, 'quantities': {}}   8     10
H11  H11                    {'volume': 0, 'quantities': {}}   8     11
H12  H12                    {'volume': 0, 'quantities': {}}   8     12

[96 rows x 4 columns]

## Transfers

We can transfer between plates:

In [7]:
destination = lab.Plate384(name="384-well plate")

In [8]:
destination.wells["G8"].volume

0

In [9]:
transfer = lab.Transfer(source.wells["C2"], destination.wells["G8"], 3 * 10 ** (-6))
transfer.apply()

In [10]:
destination.wells["G8"].volume

3e-06

## Picklists

A picklist represents a list of well-to-well transfers.

In [11]:
picklist = lab.PickList()
picklist.add_transfer(transfer=transfer)
transfer_2 = lab.Transfer(source.wells["A1"], destination.wells["I12"], 2 * 10 ** (-6))
picklist.add_transfer(transfer=transfer_2)

In [12]:
print(picklist.to_plain_string())

Transfer 3.00E-06L from 96-well plate C2 into 384-well plate G8
Transfer 2.00E-06L from 96-well plate A1 into 384-well plate I12

We can perform the transfers in the picklist:

In [13]:
picklist.simulate()